thesis_2026/data/all_images_sorted/
thesis_2026/data/all_images_sorted_indoor_outdoor/
thesis_2026/data/manual_sample_images/
*.keras
*.h5
*.pt
*.pth
*.zip
*.tar
thesis_2026/data/All_images/
*.jpg
*.jpeg
*.png
*.JPG
*.JPEG
*.PNG
thesis_2026/data/all_images_sorted_indoor_outdoor/
thesis_2026/data/evaclip_sorted_manual_annotation/
thesis_2026/data/test_images_evaluation_sorted_vit32_sorted/
thesis_2026/data/vit14_eval_sorted/
thesis_2026/data/weights/
